@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.kcHeaderWrapperClass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.kcLocaleMainClass {
  display: none !important;
}

body {
  font-family: "Libre Franklin";
}