@import "tailwindcss";
@import "@scouterna/tailwind-theme";
@import "@fontsource-variable/source-sans-3";

body {
	font-family: "Source Sans 3 Variable", sans-serif;
	font-size: var(--text-body-base);
	line-height: 1.5;
	color: var(--color-text-base);
}

@theme {
	--shadow-card:
		0 1px 2px rgba(25, 34, 47, 0.04), 0 18px 44px -18px rgba(25, 34, 47, 0.3);
}
